<nav class="flex items-center justify-between px-6 py-5 shadow-md bg-purple-100 fixed top-0 left-0 right-0 z-10">
  <div class="flex items-center space-x-4">
    <img src="https://daas-prog-test.s3.amazonaws.com/app_logo_general.png" alt="App Logo" class="h-10" />
    <ul class="flex space-x-3 text-base font-medium text-gray-700">
      <li class="hover:bg-gray-200 px-4 py-2 rounded cursor-pointer ml-5">Home</li>
      <li class="hover:bg-gray-200 px-4 py-2 rounded cursor-pointer">Find Jobs</li>
      <li class="hover:bg-gray-200 px-4 py-2 rounded cursor-pointer">My Jobs</li>
      <li class="relative hover:bg-gray-200 px-4 py-2 rounded cursor-pointer">
        Reports
        <!-- <ul class="absolute bg-white shadow-lg mt-2 rounded w-40 text-gray-700">
          <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">Report 1</li>
          <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">Report 2</li>
        </ul> -->
      </li>
      <li class="relative hover:bg-gray-200 px-4 py-2 rounded cursor-pointer">
        Assessments
        <!-- <ul class="absolute bg-white shadow-lg mt-2 rounded w-40 text-gray-700">
          <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">Assessment 1</li>
          <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">Assessment 2</li>
        </ul> -->
      </li>
      <li class="hover:bg-gray-200 px-4 py-2 rounded cursor-pointer">Interviews</li>
    </ul>
  </div>

  <div class="flex items-center space-x-8">
    <i class="fas fa-search text-gray-600 cursor-pointer hover:text-gray-800"></i>
    <i class="fas fa-bell text-gray-600 cursor-pointer hover:text-gray-800"></i>
    <i class="fas fa-comment-alt text-gray-600 cursor-pointer hover:text-gray-800"></i>
    <i class="fas fa-headset text-gray-600 cursor-pointer hover:text-gray-800"></i>

    <div class="relative">
      <div class="flex items-center space-x-2 cursor-pointer ">
        <span class="rounded-full bg-purple-100 text-purple-600 px-4 py-2">R</span>
        <span class="text-gray-700 font-medium">Rushikesh Ghule</span>
        <i class="fas fa-caret-down text-gray-600"></i>
      </div>
      <!-- <ul class="absolute bg-white shadow-lg mt-2 rounded w-60 text-gray-700 right-0"> -->
        <!-- <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">My Profile</li>
        <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">My Refferals</li>
        <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">Settings</li> -->
        
        <!-- <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">Logout</li> -->
      <!-- </ul> -->
    </div>
  </div>
</nav>
<div class="h-44 w-screen bg-gradient-to-r from-purple-900 to-purple-100 mt-20">
  <div class="text-2xl text-white p-7">Hello Rushikesh Ghule, Good Afternoon!</div>
</div>
<div class="grid grid-cols-12 gap-4 p-4 -mt-24 container mx-auto">

  <div class="col-span-3 space-y-10">

    <div class="bg-white border h-60 rounded-lg drop-shadow-lg p-4">
      <h4 class="ml-3 font-bold mt-3">Upcoming Interviews</h4>
      <img src="https://qa-candidate-dsaas.simplifysandbox.net/static/media/no-interview.694d2e81.svg"
        alt="No Interviews" class="mx-auto mt-3 text-center">
      <div class="mt-5 ml-3 text-gray-400 text-xs">
        No interviews scheduled yet. Hang tight, they're on their way!
      </div>
    </div>

    <div class="bg-white border h-40 rounded-lg drop-shadow-lg p-4">
      <h4 class="ml-3 font-bold mt-3">Profile Alerts</h4>
      <div>
        <span class="bg-white cursor-pointer ml-3 text-sm text-gray-700" (click)="onTextClick()">Pending Actions</span>
      </div>
      <div class="mt-5 ml-3 text-gray-400 text-xs">
        Hooray! Your profile has zero pending actions, get ready to attract the perfect opportunity!
      </div>
    </div>

    <div class="bg-white border h-80 rounded-lg drop-shadow-lg p-4">
      <h4 class="ml-3 font-bold mt-6">My Referrals</h4>
      <div class="mt-5">
        <span class="bg-white cursor-pointer ml-3 text-sm text-gray-700" (click)="onTextClick()">Rahul Sonawane
          <button class="rounded-full bg-red-300 ml-6 h-15 w-30">Pending</button>
        </span>
        <div class="mt-2 ml-3 mb-3 text-gray-400 text-xs">
          <p>Python Developer</p>
          <p>celest LLC</p>
        </div>
        <hr>
        <div class="mt-5">
          <span class="bg-white cursor-pointer ml-3 text-sm text-gray-700" (click)="onTextClick()">Vishal Sanap
            <button class="rounded-full bg-red-300 ml-12 h-15 w-30">Pending</button>
          </span>
          <div class="mt-2 ml-3 text-gray-400 text-xs">
            <p>Python Developer</p>
            <p>celest LLC</p>
          </div>
        </div>
        <hr class="my-3">
        <h3 class="mt-5 text-center font-bold cursor-pointer text-gray-700 " (click)="text()">View All Referrals</h3>
      </div>
    </div>
  </div>


  <div class="col-span-6 grid grid-cols-6 gap-4">
    <div class="bg-white border rounded-lg drop-shadow-lg h-32 flex flex-col justify-center col-span-2">
      <div class="bg-gray-400 w-8 rounded-md px-2 ml-1"><i class="fa-solid fa-briefcase"></i></div>
      <div class="text-2xl ml-2 mt-2">3</div>
      <h6 class="text-sm text-gray-700 ml-2">Applied Jobs</h6>
    </div>
    <div class="bg-white border rounded-lg drop-shadow-lg h-32 flex flex-col justify-center col-span-2">
      <div class="bg-orange-200 rounded-md w-7 px-2 ml-1"><i class="fa-solid fa-file"></i></div>
      <div class="text-2xl ml-2 mt-2">0</div>
      <h6 class="text-sm text-gray-700 ml-2">Offered Jobs</h6>
    </div>
    <div class="bg-white border rounded-lg drop-shadow-lg h-32 flex flex-col justify-center col-span-2">
      <div class="w-8 bg-green-200 rounded-md px-2 ml-1"><i class="fa-solid fa-user"></i></div>
      <div class="text-2xl ml-2 mt-2">1</div>

      <h6 class="text-sm text-gray-700 ml-2">Onboarded Jobs</h6>
    </div>
    <div class="col-span-6 flex flex-col gap-4 mb-80">
      <div class="bg-white border rounded-lg drop-shadow-lg p-4" style="height: 45rem;">
        <h2 class="text-lg font-semibold mb-4">Recommended Jobs</h2>
        <hr>
        <div *ngFor="let job of jobs">
          <div class="flex flex-wrap items-center p-4 hover:bg-gray-100 border-b border-gray-300">
            <img [src]="job.Image" alt="" class="h-12 w-12 bg-purple-900 mr-4" />
            <div class="flex-grow">
              <h5 class="font-bold text-purple-900">{{ job.title }}</h5>
              <p class="text-gray-500 flex items-center text-xs mt-2">
                <i class="fa-solid fa-location-dot mr-1"></i>{{ job.location }}
              </p>
            </div>
        
            <div class="text-right">
              <div class="flex space-x-4 text-gray-500 mb-2 ml-24">
                <i class="fa-solid fa-share-nodes text-xl cursor-pointer"></i>
                <i class="fa-solid fa-user-plus text-xl cursor-pointer"></i>
              </div>
              <p class="font-bold text-gray-800 mt-3">{{ job.salary }}</p>
            </div>
        
            <div class="flex gap-3 text-xs  w-full">
              <div>
                <i class="fa-regular fa-folder mr-2"></i>{{ job.company }}
              </div>
              <div>
                <i class="fa-regular fa-folder mr-2"></i>{{ job.type }}
              </div>
              <div>
                <i class="fa-regular fa-folder mr-2"></i>Job Reference #: {{ job.reference }}
              </div>
            
            </div>
            
          
          </div>
          
        </div>
        <h3 class="text-gray-950 font-bold cursor-pointer text-center mt-10" (click)="text()">View All Jobs</h3>
     
      </div>
      

      
    </div>


  </div>


  <div class="col-span-3">
    <div class="bg-white border drop-shadow-lg rounded-lg ">
      <div class="flex justify-center items-center h-44">
        <div class="w-24 h-24 bg-gray-400 rounded-full flex items-center justify-center text-white text-lg">
          R
        </div>
      </div>
      <div class="text-center font-semibold ">Rushikesh S. Ghule</div>
      <div class="text-center">Angular</div>
      <div class="flex justify-center space-x-12 mt-5">
        <div class="border-dotted border-2 border-indigo-400 bg-slate-50 p-2">
          <p class="text-center">0</p>
          <div>Profile Viewed</div>
        </div>
        <div class="border-dotted border-2 border-indigo-400 bg-slate-50 p-2">
          <p class="text-center">0</p>
          <div>Profile Downloaded</div>
        </div>
      </div>
      <div class="bg-pink-100 p-6 mt-3">
        <div class="flex justify-between">
          <p class="font-normal">Profile Completion</p>
          <div>70%</div>
        </div>
        <div class="w-full rounded-full bg-gray-300 mt-2">
          <div class="bg-purple-500 rounded-full h-2 w-[70%]"></div>
        </div>
        <div class="mt-3">
          <div class="text-sm text-left text-yellow-500">
            <i class="fa-solid fa-file"></i> &nbsp; 4 details are missing
          </div>
        </div>
        <div class="text-center mt-5 bg-purple-950 text-white rounded-lg font-bold text-sm px-4 py-2">
          <button>Complete Profile</button>
        </div>
      </div>
    </div>
    <div class="bg-white border h-80 rounded-lg drop-shadow-lg p-4 mt-5">
      <div>
        <p class="ml-3 font-bold mt-3 p-4">Talent Communities</p>
        <p class="text-sm text-gray-600 ml-8">
          Exclusive Pool
          <button class="px-4 py-2 text-purple-950 font-semibold rounded-lg focus:ring-offset-2 ml-20">+Join</button>
        </p>
        <p class="text-sm text-gray-600 ml-8">Proton LLC Corp</p>
        <hr class="mt-5">
        <p class="text-sm text-gray-600 ml-8 mt-5">
          QA Engineers I
          <button class="px-4 py-2 text-purple-950 font-semibold rounded-lg focus:ring-offset-2 ml-20">+Join</button>
        </p>
        <p class="text-sm text-gray-600 ml-8">Proton LLC Corp</p>
      </div>
      <hr class="mt-5">
      <div>
        <h3 class="text-gray-950 text-center font-bold cursor-pointer mt-5" (click)="text()">View All Communities</h3>
      </div>
    </div>
  </div>
</div>